<div class="container">
    <div class="img">
        <img src="../../../assets/img/bg.svg">
    </div>
    <div class="login-content wrapper">
        <form #form="ngForm" (ngSubmit)="toUpdate()">
            <img src="../../../assets/img/avatar.svg">
            <h1 class="title">Change password</h1>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="password" placeholder="Password" [(ngModel)]="password">
                    <br>
                    <br>

                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" placeholder="Confirm password" name="confirm"
                        [(ngModel)]="confirmPassword">
                    <br>
                    <br>

                </div>

            </div>

            <input type="submit" class="btn" value="Update Password">

        </form>

    </div>
</div>