<div class="animated fadeIn">
   <a href="https://calendar.google.com/calendar/u/0/r?cid=anureshkv1@gmail.com&cid=addressbook%23contacts@group.v.calendar.google.com&cid=en.indian%23holiday@group.v.calendar.google.com&cid=sqm2udi1adf6ds7gj9h81tuet8@group.calendar.google.com">New event</a>
   <div class="dx-viewport">
      <div class="demo-container">
         <!--  <dx-scheduler
                        [dataSource]="dataSource"
                        [editing]="false"
                        startDateExpr="start.dateTime"
                        endDateExpr="end.dateTime"
                        textExpr="summary"
                        [startDayHour]="7"
                        timeZone="America/Los_Angeles"
                        [showAllDayPanel]="false"
                        [views]='["day", "workWeek", "month"]'
                        currentView="workWeek"
                        [currentDate]="currentDate"
                        [height]="500">
                    </dx-scheduler>-->
                   
               
         <iframe
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=YW51cmVzaGt2MUBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=c3FtMnVkaTFhZGY2ZHM3Z2o5aDgxdHVldDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;color=%237CB342"
            style="border:solid 1px #777" width="1000" height="600" frameborder="0" scrolling="no"></iframe>

      </div>
   </div>
</div>