<div class="container">
    <div class="img">
        <img src="../../../assets/img/bg.svg">
    </div>
    <div class="login-content wrapper">
        <form #form='ngForm' (ngSubmit)="otpPut()">
            <img src="../../../assets/img/avatar.svg">
            <h2 class="title">forgot password </h2>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="text" class="input" placeholder="Email" name="email" [(ngModel)]="email"
                        >
                    <br>
                    <br>
                    

                </div>
            </div>
            <br>
            <input type="submit" class="btn" value="Submit">


        </form>

    </div>
</div>