
<div class="wrapper">

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center header-inner-pages">
      <div class="container-fluid d-flex align-items-center justify-content-lg-between">
  
        <h1 class="logo me-auto me-lg-0"><a [routerLink]="['/mindcare/auth/login']" routerLinkActive="router-link-active" >MindCare</a></h1>
      
        
      </div>
    </header><!-- End Header -->
  
    <main id="main">
  
      <!-- ======= Breadcrumbs ======= -->
     
  
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
  
          
              <div class="portfolio-details-slider swiper-container">
                <router-outlet></router-outlet>
                <div class="swiper-pagination"></div>
              </div>
              
            </div>
  
            
  
      </section><!-- End Portfolio Details Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
  
      <div class="footer-top">
  
        
      </div>
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Mindcare</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://www.embrightinfotech.com/" target="_blank">Embright</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
  
</div>
 